
<html>
    <head>
        
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
    
    {{ content }}
     
        <hr />
  <p>To email me, use "weidai+web" at my personal domain. Alternatively, if you have any questions for me that can be answered in public, please visit <a href="http://lesswrong.com/lw/jgz/aalwa_ask_any_lesswronger_anything/ap3c">my AMA on Less Wrong</a> and post your questions there. Please note that as of this writing, any purported photos of me on the Internet are actually of other people named Wei Dai.</p>
        <p>If you wish to encrypt your email to me, you can <a href="pubkey.txt">download my PGP public key here</a>.</p>
    </body>
</html>
